<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" type="text/css" rel="stylesheet" id="bootstrap-css">
    <link href="../static/login.css" type="text/css" rel="stylesheet">

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" async></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" async></script>
    <script src="{{ url_for('static', filename='login.js') }}" type="text/javascript" async></script>
  </head>

  <body>
    <div class="header">
      <h1 id="app-name">Help The Homies</h1>
      <a href="register.html"><h1 id="header-register">Register</h1></a>
    </div>

    <div class="wrapper">
      <div class="login-form-container">
        <form id = "login-form">
          <input type="text" id="login" class="fadeIn second" name="login" placeholder="username">
          <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
          <input type="submit" id = "btn" class="fadeIn fourth" value="Log In">
        </form>
      </div>
    </div>

    <div id="login-error-msg-holder" style = "visibility:hidden;">
      <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>
    </div>
  </body>
</html>
