
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <title>Bootstrap Login Form</title>
</head>
<body>
    <p class="role-selection">Select the role you want to login as</p>
<div class="btn-group2" role="group" aria-label="Basic example">
    <button name='requesterBtn' onclick="window.location.href = 'requester'" class="btn mt-5 rounded-pill btn-lg btn-custom btn-block text-uppercase">Requester
    </button>
    <button name='providerBtn' onclick="window.location.href = 'provider'" class="btn mt-5 rounded-pill btn-lg btn-custom btn-block text-uppercase">Provider
    </button>
</div>
</body>
