<!DOCTYPE html>
<html>
    <head>
        <title>User Profile</title>
        <link href="../static/userProfile.css" rel="stylesheet" type="text/css">
        <script src="../static/userProfile.js"></script>
    </head>

    <body style="font-family: Helvetica;">
        <ul class='profile-feed'>
            <div class="user-info-container"> 
                <img src="./unnamed.jpg" class="profile-picture">
                <h1>@username</h1>
                <span>location</span>
            </div>
    
            <div class="requests-container">
                <h2 class="request-text-header">Pending Requests</h2>
                <div class="ticket">
                    <h4>Location:</h4>
                    <textarea rows='3'>
                        Ticket info
                    </textarea>
                    <p>Quantity: x</p>
                </div> 

                <div class="ticket">
                    <h4>Location:</h4>
                    <textarea rows='3'>
                        Ticket info
                    </textarea>
                    <p>Quantity: x</p>
                </div> 

                <div class="ticket">
                    <h4>Location:</h4>
                    <textarea rows='3'>
                        Ticket info
                    </textarea>
                    <p>Quantity: x</p>
                </div> 

                <div class="ticket">
                    <h4>Location:</h4>
                    <textarea rows='3'>
                        Ticket info
                    </textarea>
                    <p>Quantity: x</p>
                </div> 

                <div class="ticket">
                    <h4>Location:</h4>
                    <textarea rows='3'>
                        Ticket info
                    </textarea>
                    <p>Quantity: x</p>
                </div> 
            </div>

            <div class="requests-container">
                <h2 class="request-text-header">Accepted Requests</h2>
                <div class="ticket">
                    <h4>Location:</h4>
                    <textarea rows='3'>
                        Ticket info
                    </textarea>
                    <p>Quantity: x</p>
                </div> 

                <div class="ticket">
                    <h4>Location:</h4>
                    <textarea rows='3'>
                        Ticket info
                    </textarea>
                    <p>Quantity: x</p>
                </div> 

                <div class="ticket">
                    <h4>Location:</h4>
                    <textarea rows='3'>
                        Ticket info
                    </textarea>
                    <p>Quantity: x</p>
                </div> 

                <div class="ticket">
                    <h4>Location:</h4>
                    <textarea rows='3'>
                        Ticket info
                    </textarea>
                    <p>Quantity: x</p>
                </div> 

                <div class="ticket">
                    <h4>Location:</h4>
                    <textarea rows='3'>
                        Ticket info
                    </textarea>
                    <p>Quantity: x</p>
                </div> 
            </div>
        </ul>
    </body>
</html>